
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e6eced;
}

nav {
    background-color: #efecec !important;
}

.card {
    width: 80%;
    max-width: 900px;
    background: #fff;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 10px 8px 0px rgba(0,0,0,0.2);
    margin: 0 auto;
}

.content-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 25px;
}

.content-flex p {
    width: 65%;
    line-height: 1.6;
    color: #555;
}

.card2 {
    width: 300px;
    flex-shrink: 0; /* mencegah card mengecil */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.card2 img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card2 h3 {
    margin: 10px 5px 5px;
    font-size: 18px;
    font-weight: 700;   
}

.card2 p {
    font-size: 17px;
    color: #555;
    margin: 0 auto;
    
}

.btn-custom {
    background-color: #1f2937;
    border: none;
    padding: 10px 28px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

.btn {
    background: #1f2937;
    color: white;
    border: none;
    padding: 10px 28px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

.cv {
    margin-top: 15px;
    display: flex;
    font-size: 15px;
    gap: 7px;
}

.cv a {
    text-decoration: none;
    color: black;
    align-self: center;
}

.cv i {
    margin-left: 5px;
    align-self: center;
}

.social {
    margin-top: 25px;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
}

.social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;  
    background: black; 
    margin: 5px;
    text-decoration: none;
    font-size: 22px;
    color: #000;
}




