* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.card {
    width: 80%;
    max-width: 900px;
    background: #fff;
    border-radius: 10px;
    padding: 100px;
    box-shadow: 0 10px 8px 0px rgba(0,0,0,0.2);
}

.intro h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.intro p {
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}

.btn {
    background: #1f2937;
    color: white;
    border: none;
    padding: 10px 28px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

.cv {
    margin-top: 15px;
    display: flex;
    font-size: 15px;
    gap: 7px;
}

.cv a {
    text-decoration: none;
    color: black;
}

.bi-download {
    margin-left: 5px;
}

.social {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
}

.social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;  
    background: black; 
    margin: 5px;
    text-decoration: none;
    font-size: 22px;
    color: #000;
}


.card2 {
    margin: 40px auto 10px;
    width: 260px;
    background: #fff;
    border-radius: 10px;
    padding-bottom: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.card2 img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card2 h3 {
    margin: 10px 5px 5px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.card2 p {
    font-size: 15px;
    color: #555;
    text-align: center;
}

