
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e6eced;
}

nav {
    background-color: #efecec !important;
}

.card-custom {
    width: 80%;
    max-width: 900px;
    background: #fff;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 10px 8px 0px rgba(0,0,0,0.2);
    margin: 0 auto;
}

.content-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
    margin-top: 25px;
}

.content-flex p {
    line-height: 1.6;
    color: #555;
}

.left-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card2 {
    width: auto;
    flex-shrink: 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.card2 img {
    width: 280px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card2 h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 700;   
}

.card2 p {
    font-size: 15px;
    color: #555;
    text-align: center;
    
}

.btn-custom {
    background-color: #1f2937;
    color: white !important;
    border: none;
    padding: 10px 28px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}


.cv {
    margin-top: 15px;
    display: flex;
    font-size: 15px;
    gap: 7px;
}

.cv a {
    text-decoration: none;
    color: black;
    align-self: center;
}

.cv i {
    margin-left: 5px;
    align-self: center;
}

.social {
    margin-top: 25px;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
}

.social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;  
    background: black; 
    margin: 5px;
    text-decoration: none;
    font-size: 22px;
    color: #000;
}

.background-custom{
    background-color: white !important;
}

.button {
    background-color: black;
    padding: 5px;
    border-radius: 8px;
    width: auto;
    min-width: 130px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    line-height: 1.2;
    
}

.card {
    box-shadow: 0 10px 8px 0px rgba(0,0,0,0.2);

}

.card-img-top {
    border-radius: 10px;
}





